.carrito {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.carrito-listadito {
    width: 100%;
    height: 50vh;
    border: 1px solid #333;
    border-radius: 10px;
}

